# Django - Sécurité et Debug
SECRET_KEY='PLACEHOLDER_FOR_SECRET_KEY'
DEBUG=False

# Base de données (PostgreSQL)
DATABASE_NAME=mobcash
DATABASE_USER=root
DATABASE_PASSWORD="PLACEHOLDER_FOR_DATABASE_PASSWORD"
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

# Ports Internes du Projet (Pour éviter les conflits sur le VPS)
APP_PORT=8000
WS_PORT=8001

# Redis (Obligatoire pour Celery et WebSockets)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Bot Telegram & Services
TOKEN_BOT="PLACEHOLDER_FOR_TOKEN_BOT"
CHAT_ID="6111927505"
CONNECT_PRO_BASE_URL="https://connect.${DOMAIN}"
BASE_URL="https://api.${DOMAIN}/mobcash"

# Email
EMAIL_PASSWORD=
EMAIL_HOST_USER=
FIREBASE_PROJECT_ID=
MOBCASHAPI_BASE_URL="https://api.blaffa-change.net"
MOBCASHAPI_API_KEY=
MOBCASHAPI_API_SECRET=
