{
  "type": "service_account",
  "project_id": "PLACEHOLDER_FOR_PROJECT_ID",
  "private_key_id": "PLACEHOLDER_FOR_PRIVATE_KEY_ID",
  "private_key": "PLACEHOLDER_FOR_PRIVATE_KEY",
  "client_email": "PLACEHOLDER_FOR_CLIENT_EMAIL",
  "client_id": "PLACEHOLDER_FOR_CLIENT_ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "PLACEHOLDER_FOR_CERT_URL",
  "universe_domain": "googleapis.com"
}
